{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil !</h1>

    <div>
        <img src="{{ asset('images/images.png') }}" alt="image">
    </div>

{% endblock %}
