{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification d'une catégorie</h1>

    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit">Modifier</button>
    {{ form_end(form) }}

{% endblock %}

{% block title %}

{% endblock %}

